#left {
    width: 22%;
    float: left;
    height: 940px;
    margin-left: 5px;
}

#right {
    float: right;
    width: 75%;
    height: 850px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    background-color: grey;
    color: white;
    text-align: right;
}
